body {
    font-family: 'Poppins', sans-serif !important;
}

.my-nav-button {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 2px;

    height: 40px;
    width: 172px;
}

.my-nav {
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.need-to-shadow {
    box-shadow: 0px 7px 36px -9px rgba(34, 60, 80, 0.21);
}

.nav-logo {
    margin-right: auto;
}

.need-to-color > div > a {
    color: #666666 !important;
}

.hero-container {
    margin-top: 100px;
}

.hero-h1 {
    font-weight: 400;
    font-size: 54px;
    line-height: 59px;
    color: #222222;

    margin-top: 11px;
    margin-bottom: 18px;
}

.hero-p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: #222222;
}

.hero-left {
    padding-top: 45px;
}

.hero-button {
    margin-right: 10px;
}
