body {
    font-family: 'Poppins', sans-serif !important;
}

.my-nav-button {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 2px;

    height: 40px;
    width: 172px;
}

.my-nav {
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.need-to-shadow {
    box-shadow: 0px 7px 36px -9px rgba(34, 60, 80, 0.21);
}

.nav-logo {
    margin-right: auto;
}

.need-to-color > div > a {
    color: #666666 !important;
}

/* -----------------------------hero section----------------------------- */

.hero-container {
    margin-top: 100px;
}

.hero-h1 {
    font-weight: 400;
    font-size: 54px;
    line-height: 59px;
    color: #222222;

    margin-top: 11px;
    margin-bottom: 18px;
}

.hero-p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: #222222;
}

.hero-left {
    padding-top: 45px;
}

.hero-button {
    margin-right: 10px;
}

.hero-img {
    position: absolute;
    z-index: -1;
}

/* -----------------------------features section----------------------------- */

#features {
    background-color: #222222;
    margin-top: 155px;
}

.features-p {
    padding-top: 100px;
    color: #ffffff;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.features-h1 {
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    /* or 112% */

    text-align: center;

    color: #ffffff;
}

/* -----------------------------card section----------------------------- */

.card {
    min-height: 490px;
    border-radius: 1rem !important;
}

.card-1 {
    background-image: url('./img/cards/card1.png');
    background-repeat: no-repeat;
    background-position: 50% 40px;
}

.card-2 {
    background-image: url('./img/cards/card2.png');
    background-repeat: no-repeat;
    background-position: 50% 40px;
}

.card-3 {
    background-image: url('./img/cards/card3.png');
    background-repeat: no-repeat;
    background-position: 50% 40px;
}

.card-4 {
    background-image: url('./img/cards/card4.png');
    background-repeat: no-repeat;
    background-position: 50% 40px;
}

.card-5 {
    background-image: url('./img/cards/card5.png');
    background-repeat: no-repeat;
    background-position: 50% 40px;
}

.card-6 {
    background-image: url('./img/cards/card6.png');
    background-repeat: no-repeat;
    background-position: 50% 40px;
}

.overlap {
    background-color: #ffffff;
    margin-top: 293px;
    height: 193px;
    border-radius: 1rem;
}

.card-p {
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;

    color: #222222;
}

.card-1-h5 {
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;

    color: #0278ed;
    padding-top: 28px;
}

.card-2-h5 {
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;

    color: #ff5437;
    padding-top: 28px;
}

.card-3-h5 {
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;

    color: #ff9209;
    padding-top: 28px;
}

.card-4-h5 {
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;

    color: #e738ce;
    padding-top: 28px;
}

.card-5-h5 {
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;

    color: #00c6df;
    padding-top: 28px;
}

.card-6-h5 {
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;

    color: #b25df8;
    padding-top: 28px;
}

.my-card-img {
    position: absolute;
    left: 42%;
    top: 53%;
}

.my-cards {
    padding-top: 40px;
    padding-bottom: 100px;
}

/* -----------------------------analysis section----------------------------- */
#analysis {
    background-color: #ff5437;
    color: #ffffff;
}

.my-analysis {
    padding-top: 80px;
    padding-bottom: 70px;
}

.pictures > p:nth-child(1) {
    font-weight: 400;
    font-size: 96px;
    line-height: 96px;
}

.pictures > p:nth-child(2) {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: #ffffff;
}

.operations > p:nth-child(1) {
    font-weight: 400;
    font-size: 95px;
    line-height: 96px;

    color: #ffffff;
}

.operations > p:nth-child(2) {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: #ffffff;
}

.accuracy > p:nth-child(1) {
    font-weight: 400;
    font-size: 96px;
    line-height: 96px;

    color: #ffffff;
}

.accuracy > p:nth-child(2) {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;

    color: #ffffff;
}

/* -----------------------------technology section----------------------------- */

#technology {
    margin-top: 100px;
}

.technology-header {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    letter-spacing: 2px;
    text-transform: uppercase;

    color: #222222;

    margin-bottom: 5px;
    margin-top: 77px;
}

.technology-h1 {
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;

    color: #222222;

    margin-bottom: 15px;
}

.technology-p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: #666666;
    margin-bottom: 177px;
}

.technology-img {
    position: absolute;
    z-index: -1;
}

/* -----------------------------speed&security section----------------------------- */

#security {
    background-color: #f2f2f2;
    padding-top: 100px;
}

.speed-header {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #222222;

    margin-bottom: 5px;
    margin-top: 70px;
}

.speed-h1 {
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    color: #222222;

    margin-bottom: 15px;
}

.speed-p {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #666666;

    margin-bottom: 195px;
}

.speed-img {
    position: absolute;
}
/* -----------------------------dark mode section----------------------------- */
#dark {
    background-color: #222222;
}
